USE [master]
GO
/****** Object:  Database [Db_Series]    Script Date: 11/2/2024 3:06:19 AM ******/
CREATE DATABASE [Db_Series]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_Series', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_Series.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_Series_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_Series_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_Series].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_Series]
GO
/****** Object:  Table [dbo].[TblAbout]    Script Date: 11/2/2024 3:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAbout](
	[AboutId] [int] IDENTITY(1,1) NOT NULL,
	[AboutContext] [varchar](max) NULL,
 CONSTRAINT [PK_TblAbout] PRIMARY KEY CLUSTERED 
(
	[AboutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblAdmin]    Script Date: 11/2/2024 3:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAdmin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminUserName] [varchar](50) NULL,
	[AdminPassword] [varchar](50) NULL,
 CONSTRAINT [PK_TblAdmin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblBlogs]    Script Date: 11/2/2024 3:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBlogs](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[BlogTitle] [nvarchar](100) NULL,
	[BlogContex] [nvarchar](max) NULL,
	[BlogDate] [smalldatetime] NULL,
	[BlogImage] [varchar](max) NULL,
	[BlogType] [int] NULL,
	[BlogCategory] [int] NULL,
 CONSTRAINT [PK_TblBlog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCategories]    Script Date: 11/2/2024 3:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblComments]    Script Date: 11/2/2024 3:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblComments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentNameSurname] [varchar](50) NULL,
	[CommentMail] [varchar](50) NULL,
	[CommnetContext] [varchar](max) NULL,
	[CommnetBlog] [int] NULL,
 CONSTRAINT [PK_Tbl_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblContacts]    Script Date: 11/2/2024 3:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblContacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[ContactNameSurname] [varchar](50) NULL,
	[ContactMail] [varchar](50) NULL,
	[ContactPhone] [varchar](50) NULL,
	[ContactSubject] [varchar](50) NULL,
	[ContactContext] [varchar](max) NULL,
 CONSTRAINT [PK_TblContacts] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTypes]    Script Date: 11/2/2024 3:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTypes](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](50) NULL,
 CONSTRAINT [PK_TblType] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblBlogs]  WITH CHECK ADD  CONSTRAINT [FK_TblBlogs_TblCategories] FOREIGN KEY([BlogCategory])
REFERENCES [dbo].[TblCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[TblBlogs] CHECK CONSTRAINT [FK_TblBlogs_TblCategories]
GO
ALTER TABLE [dbo].[TblBlogs]  WITH CHECK ADD  CONSTRAINT [FK_TblBlogs_TblTypes] FOREIGN KEY([BlogType])
REFERENCES [dbo].[TblTypes] ([TypeId])
GO
ALTER TABLE [dbo].[TblBlogs] CHECK CONSTRAINT [FK_TblBlogs_TblTypes]
GO
ALTER TABLE [dbo].[TblComments]  WITH CHECK ADD  CONSTRAINT [FK_TblComments_TblBlogs] FOREIGN KEY([CommnetBlog])
REFERENCES [dbo].[TblBlogs] ([BlogId])
GO
ALTER TABLE [dbo].[TblComments] CHECK CONSTRAINT [FK_TblComments_TblBlogs]
GO
USE [master]
GO
